
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

/* COLORS */
.light-gray {
    color: lightgray;
}
.gray {
    color: #b1b1b1;
}
.sky-blue {
    color: #8edafc;
}
.bg-white {
    background-color: white;
}

/* BACKGROUND SECTION */
.background-green-bar {
    height: 15vh;
    width: 100%;
    background-color: #009688;
}
.background-gray-bar {
    height: 85vh;
    width: 100%;
    background-color: #dadbd2;
}

/* STRUCTURE */
.container {
    position: fixed;
    height: 90vh;
    width: 80%;
    top: 5%;
    left: 10%;
    background-color: white;
}

.contacts-list-col {
    width: 35%;
    height: 100%;
}

.user-chat-col {
    width: calc(65% - 1px);
    height: 100%;
    border-left: 1px solid lightgrey;
}

/* TOOLS */
.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.user-icon img {
    width: 100%;
    border-radius: 50px;
}

.left-side {
    align-items: center;
}

.right-side {
    align-items: center;
}

.right-side i {
    margin-left: 10px;
}

.user-info {
    font-size: .8rem;
    margin-left: 5px;
}

/* USER-LIST-COL STRUCTURE */
.user-interface {
    height: 8%;
    width: 100%;
    background-color: #eaeaea;
    justify-content: space-between;
    padding: 10px;
}

.user-notification-annoying-pupup {
    height: 10%;
    width: 100%;
    background-color: #8edafc;
    padding: 10px;
    align-items: center;
}

.searchbar {
    background-color: #fafafa;
    width: 100%;
    padding: 5px;
}

.searchbar input {
    width: 100%;
    padding: 3px;
}

.contact-display {
    border-top: 1px solid lightgray;
    padding: 15px 10px;
    align-items: center;
    justify-content: space-between;
}
